.DS_Store
*.pyc
*.log
*.swp
*.retry
.env
.idea
.vscode
*~
/logs
/data
.~*
common/CACHE
db.sqlite3
node_modules
venv
.venv
media
__pycache__
ahdi2/collect_static
home/__pycache__
templatetags/__pycache__
search/__pycache__
