{% load navigation_tags %}


<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 bg-light">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="me-2 mb-md-0 text-body-secondary text-decoration-none">
            <span class="mb-3 mx-3 mb-md-0 text-body-secondary fw-medium">&copy; AHDI</span> 
        </a>
      </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex mx-3">
        {% get_site_root as site_root %}
        {% footer_menu parent=site_root calling_page=self %}            
    </ul>
</footer>



